.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-container form div {
  margin-bottom: 15px;
}

.registration-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-container input,
.registration-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-container button:hover {
  background-color: #0056b3;
}

.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.gender-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.gender-container label {
  flex: 1;
  margin-right: 10px;
}

.registration-container input[type="date"] {
  padding: 8px;
}

.address-input {
  height: 60px;
}
